<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form id="login-form">
            <label for="email">Email:</label>
            <input type="email" id="login-email" placeholder="Enter your email" required>
            <label for="password">Password:</label>
            <input type="password" id="login-password" placeholder="Enter your password" required>
            <button type="submit">Login</button>
        </form>
        <p id="login-message"></p>
    </main>
    <footer>
        <a href="/register/">Don't have an account? Register here.</a>
    </footer>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
